[defaults]
roles_path = ../../.ansible/roles
collections_paths = ../../.ansible/collections
timeout = 30
retry_files_enabled = false
inventory = inventory.ini

[privilege_escalation]
become = true
become_method = sudo
become_user = root
